In [2]:
import requests  
import json
import pandas as pd
from bs4 import BeautifulSoup
import os

In [3]:
def download(filename, url):
    if os.path.isfile(filename) == True:
        return (str(filename) + " already exists!")
    else:
        r = requests.get(url)
        r.raise_for_status()
        text = r.text
        f = open(filename, "w")
        f.write(text)
        f.close()
        return (str(filename) + " created!")
        
download('rankings.json','https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/rankings.json')
rankings = pd.DataFrame(pd.read_json('rankings.json'))
rankings.head()


download('2019-2020.html', 'https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2019-2020.html')
download('2020-2021.html', 'https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2020-2021.html')
download('2021-2022.html', 'https://raw.githubusercontent.com/msyamkumar/cs220-s22-projects/main/p12/2021-2022.html')

'2021-2022.html already exists!'

In [4]:
#Q1: How many countries do we have in our dataset?

countries = set(rankings['Country'])
len(countries)

103

In [5]:
#Q2: Generate a pandas DataFrame containing all the statistics of the highest-ranked institution based on "World Rank" (Note: highest rank is 1).

rankings[rankings['World Rank'] == rankings['World Rank'].min()]

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,2019-2020,Harvard University,USA,1,2.0,1.0,1.0,1.0,100.0
2000,1,2020-2021,Harvard University,USA,1,3.0,1.0,1.0,1.0,100.0
4000,1,2021-2022,Harvard University,USA,1,1.0,1.0,1.0,1.0,100.0

In [6]:
#Q3: Generate a pandas DataFrame containing all the statistics of "University of Wisconsin–Madison".

uw_madison = rankings[rankings['Institution'] == 'University of Wisconsin–Madison']
uw_madison

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
24,25,2019-2020,University of Wisconsin–Madison,USA,19,28.0,80.0,35.0,27.0,87.3
2025,26,2020-2021,University of Wisconsin–Madison,USA,20,34.0,93.0,34.0,31.0,87.2
4024,25,2021-2022,University of Wisconsin–Madison,USA,19,33.0,97.0,29.0,32.0,87.3

In [7]:
#Q4: What is the "National Rank" of the "University of Wisconsin–Madison" in the year 2021-2022?

uw_madison[uw_madison['Year'] == '2021-2022'].iloc[0]['National Rank']

19

In [8]:
#Q5: What is the average score of the "University of Wisconsin–Madison"?

uw_madison['Score'].mean()

87.26666666666667

In [9]:
#Q6: Generate a pandas dataframe containing all the statistics of universities from Singapore in the year 2020-2021.

rankings[ (rankings['Country'] == 'Singapore') & (rankings['Year'] == '2020-2021')  ]

,World Rank,Year,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
2094,95,2020-2021,National University of Singapore,Singapore,1,330.0,165.0,NaN,41.0,82.0
2139,140,2020-2021,Nanyang Technological University,Singapore,2,NaN,996.0,NaN,75.0,80.3
3150,1151,2020-2021,Singapore University of Technology and Design,Singapore,3,NaN,NaN,NaN,1092.0,69.4
3286,1287,2020-2021,Singapore Management University,Singapore,4,NaN,NaN,NaN,1225.0,68.7

In [10]:
#Q7: In the year 2019-2020, what was the highest-ranked institution in Germany?

german_best = rankings[ (rankings['Year'] == '2019-2020') & (rankings['Country'] == 'Germany') & (rankings['National Rank'] == rankings['National Rank'].min() )]
german_best.iloc[0]['Institution']

'Ludwig Maximilian University of Munich'

In [11]:
#Q8: In the year 2019-2020, list all the institutions in the USA ranked better than the highest-ranked institution in Germany.

german_best_world_rank = german_best.iloc[0]['World Rank']
usa_better = rankings[(rankings['Country'] == 'USA') & (rankings['Year'] == '2019-2020') & (rankings['World Rank'] < german_best_world_rank)]
list(usa_better['Institution'])

['Harvard University',
 'Massachusetts Institute of Technology',
 'Stanford University',
 'Columbia University',
 'Princeton University',
 'University of California, Berkeley',
 'University of Pennsylvania',
 'University of Chicago',
 'California Institute of Technology',
 'Yale University',
 'Cornell University',
 'Northwestern University',
 'University of California, Los Angeles',
 'University of Michigan, Ann Arbor',
 'Johns Hopkins University',
 'University of Washington - Seattle',
 'University of Illinois at Urbana–Champaign',
 'Duke University',
 'University of Wisconsin–Madison',
 'New York University',
 'University of California San Diego',
 'University of Texas at Austin',
 'University of California, San Francisco',
 'University of North Carolina at Chapel Hill',
 'University of Minnesota - Twin Cities',
 'University of Texas Southwestern Medical Center',
 'Washington University in St. Louis',
 'University of Southern California',
 'Brown University',
 'Vanderbilt University',
 'Pennsylvania State University',
 'Rutgers University–New Brunswick',
 'Dartmouth College',
 'University of California, Davis']

In [12]:
#Q9: What is the highest-ranked institution based on “Quality of Education Rank” in China for the year 2021-2022?

china_institutions = rankings[(rankings['Country'] == 'China') & (rankings['Year'] == '2021-2022') ]
china_institutions[china_institutions['Quality of Education Rank'] == china_institutions['Quality of Education Rank'].min()].iloc[0]['Institution']

'Fudan University'

In [13]:
#Q10: What are the top five highest-ranked institutions based on "Research Performance Rank" in India for the year 2020-2021?

india_institutions = rankings[(rankings['Country'] == 'India') & (rankings['Year'] == '2020-2021') ]
sorted_india = india_institutions.sort_values(by = 'Research Performance Rank')
list(sorted_india['Institution'])[:5]

['Indian Institute of Science',
 'Tata Institute of Fundamental Research',
 'Indian Institute of Technology Bombay',
 'University of Delhi',
 'Indian Institute of Technology Madras']

In [14]:
#Q11: How many institutions have rankings for all three years?

year_2019_ranking_df = rankings[rankings["Year"] == "2019-2020"]
year_2020_ranking_df = rankings[rankings["Year"] == "2020-2021"]
year_2021_ranking_df = rankings[rankings["Year"] == "2021-2022"]

set_2019 = set(year_2019_ranking_df['Institution'])
set_2020 = set(year_2020_ranking_df['Institution'])
set_2021 = set(year_2021_ranking_df['Institution'])
# list containing names of institutions which have ranking for all three years
institution_2019_2020_2021 = list(set_2019 & set_2020 & set_2021)

len(institution_2019_2020_2021)

1856

In [15]:
institutions = []

for institution in institution_2019_2020_2021: # use your output list from Q11 here
    year_2019_ranking =  rankings[(rankings['Year'] == '2019-2020') & (rankings['Institution'] == institution)].iloc[0]['World Rank']
    year_2020_ranking =  rankings[(rankings['Year'] == '2020-2021') & (rankings['Institution'] == institution)].iloc[0]['World Rank']
    year_2021_ranking =  rankings[(rankings['Year'] == '2021-2022') & (rankings['Institution'] == institution)].iloc[0]['World Rank']

    # now let's create a dictionary representation of the institution
    # each key corresponds to the column of the DataFrame we want to build
    institution_info = {}
    institution_info['Institution'] = institution
    institution_info['2019_ranking'] = year_2019_ranking
    institution_info['2020_ranking'] = year_2020_ranking
    institution_info['2021_ranking'] = year_2021_ranking

    institutions.append(institution_info)

institutions_df = pd.DataFrame(institutions)

In [16]:
#Q12: Between the years 2019-2020 and 2021-2022, list the institutions which have seen an improvement in their "World Rank" by more than 500 ranks.

institutions_df["difference"] =  institutions_df["2019_ranking"] - institutions_df["2021_ranking"]
improvement_df = institutions_df[institutions_df['difference'] > 500]
list(improvement_df['Institution'])

['USI - University of Italian Speaking Switzerland',
 'École nationale supérieure de chimie de Montpellier',
 'Antioch College',
 'Tôn Đức Thắng University',
 'Academy of Scientific & Innovative Research',
 'SOAS University of London',
 'Federal University of Mato Grosso do Sul',
 'International Institute for Management Development',
 'Haverford College']

In [17]:
#Q13: Between the years 2019-2020 and 2021-2022, which institution had the largest change in its "World Rank"?

institutions_df['absolute difference'] = abs(institutions_df["2019_ranking"] - institutions_df["2021_ranking"])
max_difference = institutions_df[institutions_df['absolute difference'] == institutions_df['absolute difference'].max()]
max_difference.iloc[0]['Institution']

'USI - University of Italian Speaking Switzerland'

In [18]:
#Q14: For all the three years, find the number of institutions that improved their World Rank each year.
institutions_df["change 2019-2020"] =  institutions_df["2019_ranking"] - institutions_df["2020_ranking"]
institutions_df["change 2020-2021"] =  institutions_df["2020_ranking"] - institutions_df["2021_ranking"]
len(institutions_df[(institutions_df["change 2019-2020"] > 0) & (institutions_df["change 2020-2021"] > 0)])

451

In [19]:
#Q15: In the year 2020-2021, list the institutions which are within the top 10 in the world based on "Alumni Employment Rank" but do not feature in the top 10 of the world ranking.

sorted_alumni = year_2020_ranking_df.sort_values(by = 'Alumni Employment Rank')
sorted_world_rank = year_2020_ranking_df.sort_values(by = 'World Rank')
list(set(sorted_alumni['Institution'][:10]) - set(sorted_world_rank['Institution'][:10]))

["École nationale d'administration",
 'Institut Polytechnique de Paris',
 'International Institute for Management Development',
 'HEC Paris',
 'University of Tokyo',
 'INSEAD',
 'China Europe International Business School']

In [20]:
#Q16: List the universities which ranked in the top 100 of world rankings in the year 2019-2020 but failed to do so in the rankings of year 2021-2022.

sorted_2019 = year_2019_ranking_df.sort_values(by = 'World Rank')
sorted_2021 = year_2021_ranking_df.sort_values(by = 'World Rank')
list(set(sorted_2019['Institution'][:100]) - set(sorted_2021['Institution'][:100]))

['École normale supérieure',
 'Paris Diderot University',
 'École Polytechnique',
 'Tufts University',
 'University of Groningen',
 'University of California San Diego',
 'University of Utah',
 'University of Texas MD Anderson Cancer Center',
 'Aarhus University',
 'Paris-Sud University',
 'Emory University',
 'École Polytechnique Fédérale de Lausanne']

In [21]:
#Q17: List the countries which have at least 10 institutions featuring in the top 100 of world rankings in the year 2020-2021.
top_100 = year_2020_ranking_df.sort_values(by = 'World Rank')[:100]
count_country = top_100['Country'].value_counts()
list(count_country[count_country >= 10].index)

['USA', 'United Kingdom']

In [22]:
#Q18: Use BeautifulSoup to parse 2019-2020.html, and find the table containing the ranking data. What are the column names of this table?

f = open('2019-2020.html', encoding="utf-8")
html_string = f.read()
f.close()
bs_obj = BeautifulSoup(html_string, "html.parser") 
table_element = bs_obj.find('table')
header = [th.text for th in table_element.find_all('th')]
header

['World Rank',
 'Institution',
 'Country',
 'National Rank',
 'Quality of Education Rank',
 'Alumni Employment Rank',
 'Quality of Faculty Rank',
 'Research Performance Rank',
 'Score']

In [23]:
def parse_html(filename):
    f = open(filename, encoding="utf-8")
    html_string = f.read()
    f.close()
    bs_obj = BeautifulSoup(html_string, "html.parser") 
    table_element = bs_obj.find('table')
    header = [th.text for th in table_element.find_all('th')]
    year = filename[:9]
    row_elements = bs_obj.find_all("tr") [1:]
    rankings_list = []
    world_rank_idx = header.index('World Rank')
    institution_idx = header.index('Institution')
    country_idx = header.index('Country')
    national_rank_idx = header.index('National Rank')
    quality_ed_idx = header.index('Quality of Education Rank')
    alumni_idx = header.index('Alumni Employment Rank')
    quality_fac_idx = header.index('Quality of Faculty Rank')
    research_idx = header.index('Research Performance Rank')
    score_idx = header.index('Score')
    for row in row_elements:
        institution_dict = {}
        td_elements = row.find_all("td")
        world_rank = td_elements[world_rank_idx].text
        quality_of_education_rank = td_elements[quality_ed_idx].text
        quality_of_faculty_rank = td_elements[quality_fac_idx].text
        institution = td_elements[institution_idx].text
        country = td_elements[country_idx].text
        national_rank = td_elements[national_rank_idx].text
        score = float(td_elements[score_idx].text)
        alumni_employment_rank = td_elements[alumni_idx].text
        research_performance_rank = td_elements[research_idx].text
        if quality_of_education_rank == '-':
            quality_of_education_rank = None
        else:
            quality_of_education_rank = int(quality_of_education_rank)
        if quality_of_faculty_rank == '-':
            quality_of_faculty_rank = None
        else:
            quality_of_faculty_rank = int(quality_of_faculty_rank)
        if alumni_employment_rank == '-':
            alumni_employment_rank = None
        else:
            alumni_employment_rank = int(alumni_employment_rank)
        if research_performance_rank == '-':
            research_performance_rank = None
        else:
            research_performance_rank = int(research_performance_rank)
        institution_dict['Year'] = year
        institution_dict['World Rank'] = int(world_rank)
        institution_dict['Institution'] = institution
        institution_dict['Country'] = country
        institution_dict['National Rank'] = int(national_rank)
        institution_dict['Quality of Education Rank'] = quality_of_education_rank
        institution_dict['Alumni Employment Rank'] = alumni_employment_rank
        institution_dict['Quality of Faculty Rank'] = quality_of_faculty_rank
        institution_dict['Research Performance Rank'] = research_performance_rank
        institution_dict['Score'] = score
        rankings_list.append(institution_dict)
    return rankings_list

In [24]:
#Q19: Parse the contents of the table you found in 2019-2020.html and represent it as a list of dicts. What are the first 5 dictionaries in the list?

parse_html('2019-2020.html')[:5]

[{'Year': '2019-2020',
  'World Rank': 1,
  'Institution': 'Harvard University',
  'Country': 'USA',
  'National Rank': 1,
  'Quality of Education Rank': 2,
  'Alumni Employment Rank': 1,
  'Quality of Faculty Rank': 1,
  'Research Performance Rank': 1,
  'Score': 100.0},
 {'Year': '2019-2020',
  'World Rank': 2,
  'Institution': 'Massachusetts Institute of Technology',
  'Country': 'USA',
  'National Rank': 2,
  'Quality of Education Rank': 1,
  'Alumni Employment Rank': 10,
  'Quality of Faculty Rank': 2,
  'Research Performance Rank': 5,
  'Score': 96.7},
 {'Year': '2019-2020',
  'World Rank': 3,
  'Institution': 'Stanford University',
  'Country': 'USA',
  'National Rank': 3,
  'Quality of Education Rank': 9,
  'Alumni Employment Rank': 3,
  'Quality of Faculty Rank': 3,
  'Research Performance Rank': 2,
  'Score': 95.2},
 {'Year': '2019-2020',
  'World Rank': 4,
  'Institution': 'University of Cambridge',
  'Country': 'United Kingdom',
  'National Rank': 1,
  'Quality of Education Rank': 4,
  'Alumni Employment Rank': 19,
  'Quality of Faculty Rank': 5,
  'Research Performance Rank': 11,
  'Score': 94.1},
 {'Year': '2019-2020',
  'World Rank': 5,
  'Institution': 'University of Oxford',
  'Country': 'United Kingdom',
  'National Rank': 2,
  'Quality of Education Rank': 10,
  'Alumni Employment Rank': 24,
  'Quality of Faculty Rank': 10,
  'Research Performance Rank': 4,
  'Score': 93.3}]

In [25]:
def write_json(path, data):
    with open(path, 'w', encoding="utf-8") as f: 
        json.dump(data, f, indent=2)

In [26]:
#Q20: Parse the contents of 2019-2020.html, 2020-2021.html, and 2021-2022.html and combine them to create a file titled my_rankings.json.

data_json = []
data_json.extend(parse_html('2019-2020.html'))
data_json.extend(parse_html('2020-2021.html'))
data_json.extend(parse_html('2021-2022.html'))
write_json('my_rankings.json', data_json)